@charset "UTF-8";
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.header {
  width: 768px;
  height: 52px;
}

.header .inner {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner .com-logo {
  width: 120px;
  height: auto;
}

.header .inner .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.header .inner .hamburger-menu div {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #333333;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .inner .hamburger-menu div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.header .inner .hamburger-menu div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}

.global-nav {
  width: 100%;
  max-width: 768px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F9F9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-nav .to-link {
  text-decoration: none;
  color: #333333;
  font-size: 1.3rem;
  margin-left: 15px;
  margin-right: 15px;
}

.message {
  width: 100%;
  max-width: 768px;
  height: auto;
}

.message .inner {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 54px;
  padding-left: 66px;
  padding-right: 66px;
}

.message .inner .sect-ttl {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.message .inner .sect-ttl::after {
  display: block;
  content: '株主・投資家の皆様へ';
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 400;
}

.message .inner .swiper-container {
  margin-top: 60px;
}

.message .inner .swiper-container .swiper-wrapper {
  max-width: 600px;
  height: auto;
}

.message .inner .message__sub-ttl {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin-top: 62px;
  font-weight: 600;
}

.message .inner .message__txt {
  margin-top: 32px;
  font-size: 1.3rem;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */